.detail-container{
    width: inherit;
    height: inherit;
    padding: 15px;

    //border: 2px solid gray;
    border-radius: 5px;

    overflow-y: scroll;

    //background-color: aliceblue;
}

.data {
    width: max-content;
}

.label {
    font-size: medium;
    display: inline;
}

#a-modal {
    overflow-y: scroll;
}
