.container{
    width: 100%;
    height: 90%;
    margin: 5% auto;
    text-align: center;
}

img {
    align-self: center;
}

.list-group{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.loader{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.loading{
    margin-left: auto;
    margin-right: auto;
}

.logo{
    margin-bottom: 20px;
}
