.list-group{
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.container{
    width: 50vw;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    align-items: center;

}

.loader{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.loading{
    margin-left: auto;
    margin-right: auto;
}

.logo{
    margin-bottom: 20px;
}
