.tag-list {
    width: inherit;
    height: inherit;
    padding: 2px 7px 2px 7px;

    display: flex;
    flex-wrap: wrap;
}

.count-badge {
    margin-left: -10px;
    margin-top: -5px;
}

.selector {
    margin-left: 5px;
    margin-bottom: 13px;
    display: flex;
    padding: auto;
}

.tag {
    margin-bottom: 3px;
    padding: 3px;

    border-color: green;

    font-size: small;
}

.tag:focus {
    outline: none;
    box-shadow: none;
}

.master-select {
    display: flex;
    margin-left: 12px;
}

.tick {
    margin-top: auto;
    margin-bottom: auto;
}

.label {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
}
