.tag-list {
    width: inherit;
    height: inherit;
    padding: 2px 7px 2px 7px;

    display: flex;
    flex-wrap: wrap;
}

.badge {
    color: black;
    padding: 8px;
    margin-right: -2px;
}

.select-button {
    margin-right: 17px;
    margin-bottom: 3px;
    justify-content: space-between;
}

.selector {
    margin-right: 7px;
    display: flex;
    padding: auto;
}

.tag {
    margin-bottom: 3px;
    padding: 3px;

    border-color: green;

    font-size: small;
}

.tag:focus {
    outline: none;
    box-shadow: none;
}

.label {
    margin-left: 3px;
}
