.left-container{
    width: 35vw;
    height: 80vh;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: 2vw;
    margin-bottom: 20px;
}

.right-container{
    width: 61vw;
    height: 80vh;
    margin-left: 1vw;
}

.row {
    width: 100vw;
    padding-bottom: 20px;
}
