.customization-container {
    width: 32vw;
    height: auto;
    padding: 2px 10px 5px 10px;
    margin-left: 15px;
    margin-bottom: 20px;

    border: 2px solid gray;
    border-radius: 10px;

    background-color: lightgreen;
}

.tab-menu {
    color: green;
}

.tab-text {
    color: black;
}

.collapser {
    position: relative;
    right: 0;
    margin-left: auto;
    z-index: 100;
}
