
#app {
    scrollbar-color: #828282 #ffffff00;
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--surface-a);
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--text-color);
}


//a {
//    text-decoration: none !important;
//    color: #0275d8;
//}

/*
 * Reusable layout for large components
 * FIXME: remove
 */
.section-header {
    font-weight: bold;
}

/*
 * Misc
 */

.links {
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff00;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #828282;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #828282;
}

/* Icons */
.fa {
    font-size: 24px;
}

.fa-beta:before {
    font-weight: 700;
    font-style: italic;
    margin-left: 4px;
    content: "\03b2";
}
