#app {
    scrollbar-color: #828282 #ffffff00;
}

html {
    font-size: 14px;
}

body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--surface-a);
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--text-color);
}

.router-view {
    height: 93vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

// navbar customization
.p-menubar-root-list {
    margin-left: auto !important;
}

.p-menuitem-link:focus {
    outline: none !important;
    box-shadow: none !important;
}

a {
    text-decoration: none;
}

:is(h1, h2, h3, h4, h5, h6) {
    font-weight: 400;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff00;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #828282;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #828282;
}

/* Icons */
.fa {
    font-size: 24px;
}

.fa-beta:before {
    font-weight: 700;
    font-style: italic;
    margin-left: 4px;
    content: "\03b2";
}

.text-error {
    color: darkred;
}

.text-warning {
    color: darkorange;
}

.p-tree {
    padding: 0 10px 0 0 !important;
    background-color: #13111100;
}

.p-tree-container {
    padding: 5px !important;
}

.p-treenode {
    padding: 0 !important;
}

.p-treenode-leaf {
    padding: 0 !important;
}

.p-treenode-content {
    padding: 0 !important;
}
