.menuitem {
    padding: 4px;
    cursor: pointer;
    border-top: 1.0px;
    border-top-style: solid;
    border-bottom: 1.0px;
    border-bottom-style: solid;
}

.menuitem:hover {
    cursor: pointer;
    background-color: white;
}
