.menuheader {
    font-weight: bold;
    font-size: large;
}

.menuitem {
    padding: 4px;
    cursor: pointer;
    border-top: 0.5px;
    border-top-style: solid;
    border-bottom: 0.5px;
    border-bottom-style: solid;
    background-color: white;
}

.menuitem:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.button {
    background-color: black;
    border: none;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
}
