.sbmlType {
    width: max-content;
    padding: 2px 5px;
    font-size: large;
    font-weight: 400;
}

table {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden !important;
}

th {
    text-align: center !important;
}

.column {
    width: fit-content;
}

.scrollable {
    width: 100%;
    margin-bottom: 0.5%;
    overflow-x: scroll;
}

::v-deep(.p-paginator) {
    .p-paginator-current .p-paginator {
        margin-left: auto;
    }
}
::v-deep(.p-progressbar) {
    height: 0.5rem;
}
::v-deep(.p-datepicker) {
    min-width: 25rem;
    td {
        font-weight: 400;
    }
}
::v-deep(.p-datatable.p-datatable-sbml) {
    .p-datatable-header {
        padding: 1rem;
        text-align: left;
        font-size: 1.5rem;
    }
    .p-paginator {
        padding: 1rem;
        display: flex !important;
    }
    .p-datatable-thead > tr > th {
        text-align: center !important;
        width: 700px;
    }
    .p-datatable-tbody > tr > td {
        cursor: auto;
        text-align: center;
        height: fit-content !important;
    }
    .p-dropdown {
        margin-left: auto;
    }
    .p-dropdown-label:not(.p-placeholder) {
        text-transform: uppercase;
    }

    .p-dropdown
        .p-component
        .p-inputwrapper
        .p-inputwrapper-filled
        .p-paginator-rpp-options {
        margin-left: auto !important;
    }
}

.searchBar {
    height: 30px;
    margin-left: auto;
    margin-right: 5px;
    font-size: 12px !important;
}

.p-datatable-header {
    background-color: white !important;
    border: none !important;
    padding: 0 !important;
    text-align: center !important;
}

.p-paginator {
    border: none !important;
    font-size: 12px !important;
}

.p-paginator-page {
    font-size: 12px !important;
}

.p-dropdown-label {
    font-size: 12px !important;
}

.p-datatable-thead > tr > th {
    padding: 2px 5px !important;
}

.p-datatable-tbody > tr > td {
    cursor: pointer;
    height: fit-content !important;
    padding: 2px 5px !important;
}

.p-sortable-column-icon {
    color: white !important;
}

.p-datatable-wrapper {
    overflow-y: hidden;
}
