.data {
    margin-bottom: 4px;
    font-size: small;
}

.label {
    font-size: small;
    font-weight: 700;
    display: inline;
    max-width: 10px;
}

.sbmlType {
    width: max-content;
    padding: 2px 5px;
}

.tag-list {
    width: auto;
    display: flex;
    flex-wrap: wrap;
}

.label-td {
    width: 157px;
}
