.data {
    margin-bottom: 4px;
}

.label {
    font-size: medium;
    display: inline;
    min-width: 100px;
}

.sbmlType {
    width: max-content;
    padding: 2px 5px;
}

.tag-list {
    width: auto;
    display: flex;
    flex-wrap: wrap;
}
