.sbmlType {
    width: max-content;
    padding: 2px 5px;
}

table {
    width: 100%;
    overflow-x: scroll;
}

.table-condensed {
    font-size: 12px;
}

table.table-bordered > thead > tr > th{
    border:1px solid black;
}
table.table-bordered > tbody > tr > td{
    border:1px solid #ffffff00;
}

thead th {
    text-align: center;
    vertical-align: middle;
}

.scrollable {
    width: 100%;
    margin-bottom: 5%;
    overflow-x: scroll;
}
