.sbmlType {
    width: max-content;
    padding: 2px 5px;
}

table {
    width: 100%;
    overflow-x: scroll;
}

.table-condensed {
    font-size: 12px;
}

thead th {
    text-align: center;
    vertical-align: middle;
}

.scrollable {
    width: 100%;
    margin-bottom: 5%;
    overflow-x: scroll;
}
