.card {
    margin: 0px 0px 2px 0px;
    cursor: pointer;
    //border: none;
    //border-radius: 0;
}

.selector {
    width: 100px;
    height: 100%;
    background-color: green;
    z-index: 100;
}

.holder {
    display: flex;
    flex-direction: column;
}
