.p-card {
    margin: 5px 3px;
    cursor: pointer;
    //border-radius: 10px 10px 10px 10px !important;
}

.selector {
    width: 100px;
    height: 100%;
    background-color: green;
    z-index: 100;
}

.holder {
    display: flex;
    flex-direction: column;
}

.badge {
    border-radius: 50%;
    padding: 2px 5px;
    text-align: center;
}

.package-badge {
    border-radius: 10px;
    padding: 2px 5px;
    font-size: 11px;
    font-weight: 600;
}
