/* Move table search bar to left in combination with dataTable dom manipulation. */
/*#table_functions_filter,
#table_units_filter,
#table_compartments_filter,
#table_species_filter,
#table_parameters_filter,
#table_assignments_filter,
#table_rules_filter,
#table_constraints_filter,
#table_reactions_filter,
#table_events_filter
{
  float: left;
  text-align: right;
}
*/

/*
#functionsField,
#unitsField,
#compartmentsField,
#speciesField,
#parametersField,
#assignmentsField,
#rulesField,
#constraintsField,
#reactionsField,
#eventsField
  {
    position: relative;
    left: 20px;
}
*/

/* Set anchor relative to top */
a.anchor{display: block; position: relative; top: -60px; visibility: hidden;}

.table-nonfluid {
   /* width: auto; */
    width: 70%;
}