dist
build
.idea
sbmlutils.egg-info/
cover/
.tox/
.cache/
.coverage
.benchmark
*.pyc
*~
coverage.xml
*.log

# ipython notebooks
sbmlutils/dfba/ecoli/.ipynb_checkpoints/

# documentation build
docs_builder/_build/

# test output
sbmlutils/tests/data/manipulation/output
