dist
build
.idea
sbmlutils.egg-info/
cover/
.tox/
.cache/
.coverage
.benchmark
*.pyc
*~
coverage.xml
*.log

# ipython notebooks
sbmlutils/dfba/ecoli/.ipynb_checkpoints/
docs_builder/notebooks/.ipynb_checkpoints/


# documentation build
docs_builder/_build/

# test output 
# FIXME: handle via temp files & dirs
sbmlutils/tests/data/manipulation/output
sbmlutils/examples/models/demo/demo_annotations.xlsx.csv
sbmlutils/examples/models/glucose/glucose_annotations.xlsx.csv

