language: python
matrix:
  include:
    - os: linux
      sudo: required
      python: 3.6

    - os: linux
      sudo: required
      python: 3.7

install:
  pip install -r requirements.txt

script:
  pytest --cov=sbmlutils

after_success:
   pip install codecov; codecov

cache:
  directories:
    - $HOME/.cache/pip