numpy>=1.13.1
scipy>=0.19.1
matplotlib>=2.0.2
pandas>=0.20.3
tabulate
Jinja2>=2.9.6
requests
beautifulsoup4>=4.6.0
xarray>=0.9.6

pyexcel>=0.5.4
pyexcel-xlsx>=0.5.0.1

# simulation
cobra>=0.8.2
optlang>=1.2.3
libroadrunner>=1.4.18

# standards
tesbml>=5.15.0.1
tesedml>=0.4.2
tecombine>=0.2.2
tenuml>=1.1.1
phrasedml>=1.0.8

# python-libsbml>=5.15.0
# python-libcombine>=0.2.1
# python-libnuml>=1.1.1
# pytest>=3.2.2
# pytest-cov>=2.5.1

ipykernel>=0.6.1

