

# see wheelhouse
--index-url https://github.com/sys-bio/wheelhouse/blob/master/

# http://wxpython.org/Phoenix/snapshot-builds/wxPython_Phoenix-3.0.3.dev1820+49a8884-cp34-none-win_amd64.whl

phrasedml>1.0.4
# https://github.com/sys-bio/wheelhouse/blob/master/phrasedml-1.0.4-cp27-cp27m-manylinux1_x86_64.whl?raw=true
# https://github.com/sys-bio/wheelhouse/blob/master/phrasedml-1.0.4-cp35-cp35m-manylinux1_x86_64.whl?raw=true
