numpy>=1.13.1
scipy>=0.19.1
matplotlib>=2.0.2
pandas>=0.20.3
tabulate
Jinja2>=2.10
requests
beautifulsoup4>=4.6.0
xarray>=0.9.6

pyexcel>=0.5.4
pyexcel-xlsx>=0.5.0.1

# simulation
cobra>=0.9.1
optlang>=1.2.3


# standards
libroadrunner>=1.4.18
tesbml>=5.15.0.1
tesedml>=0.4.2
tecombine>=0.2.2
tenuml>=1.1.1
phrasedml>=1.0.8
antimony>=2.9.4

# tellurium>=2.0.5
# -e git+https://github.com/sys-bio/tellurium.git@master#egg=tellurium
-e git+https://github.com/sys-bio/tellurium.git@2.0-sedml-L1V3#egg=tellurium

pytest>=3.2.2
pytest-cov>=2.5.1

ipykernel>=0.6.1

