/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.detail-container{
    width: inherit;
    height: inherit;
    padding: 15px;

    border-radius: 5px;

    overflow-y: scroll;
}

.data {
    width: max-content;
}

.label {
    font-size: medium;
    display: inline;
}

#a-modal {
    overflow-y: scroll;
}
