.container{
    padding: 20px;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

    //border: 1px solid gray;
    border-radius: 25px;

    text-align: center;
}

.loader{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.loading{
    margin-left: auto;
    margin-right: auto;
}
