.tag-list {
    width: inherit;
    height: inherit;
    padding: 2px 7px 2px 7px;

    display: flex;
    flex-wrap: wrap;
}

.count-badge {
    margin-left: -10px;
    margin-top: -5px;
}

.badge {
    min-width: 20px;
    width: fit-content;
    height: 20px;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;

    // stick to the button
    margin-left: -10px;
    margin-top: -5px;

    font-size: small;
    font-weight: 400;
    text-align: center;

    color: white;
    background-color: black;
}

.selector {
    margin-left: 5px;
    margin-bottom: 13px;
    display: flex;
    padding: auto;
}

.tag {
    margin-bottom: 3px;
    padding: 3px;

    border-color: green;

    font-size: small;
}

.tag:focus {
    outline: none;
    box-shadow: none;
}

.master-select {
    display: flex;
    margin-left: 12px;
}

.tick {
    margin-top: auto;
    margin-bottom: auto;
}

.label {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
}
