.filter-button {
    position: relative;
    height: inherit;
    width: max-content;
    padding: 0px 3px;
}

.filter {
    position: absolute;
    height: max-content;
    max-width: 38vw;
    width: auto;
    top: 66px;

    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: auto;
    padding-right: auto;

    margin-left: auto;
    margin-right: auto;

    border: 2px black solid;
    border-top: none;
    border-radius: 0 0 10px 10px;

    align-content: center;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.tag-list {
    width: 95%;
    height: 100%;
    padding: 2px 7px 2px 7px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
}

.btn {
    width: max-content;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;

    border-radius: 25px;

    font-size: 14px;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.badge {
    min-width: 20px;
    width: fit-content;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;

    border-radius: 20px;

    // stick to the button
    margin-left: -10px;
    margin-top: -5px;

    font-size: small;
    font-weight: 400;
    text-align: center;

    color: white;
    background-color: black;
}

.selector {
    margin-left: 5px;
    margin-bottom: 13px;
    display: flex;
}

.tag {
    margin-bottom: 3px;
    padding: 2px 5px;

    border-radius: 5px;

    font-size: small;
}

.tag:hover {
    cursor: pointer;
}

.tag:focus {
    outline: none;
    box-shadow: none;
}

.master-select {
    display: flex;
    flex-direction: row;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.label {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
}
