h3 {
    margin: 40px 0 0;
    margin-bottom: 15px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: inline-block;
    margin: 0 10px;
}
a {
    color: #42b983;
}

.logo{
    margin-bottom: 20px;
}

.divider {
    display: flex;
    width: 90vw;
    //gap: 5%;

    margin-left: auto;
    margin-right: auto;
}

.left-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 3%;

    height: 80vh;

    border-right: 1px solid lightgray;
}

.right-container{
    width: 50%;
    height: 80vh;

    padding-left: 2%;

    text-align: center;
    align-content: center;
}
