.logo{
    margin-bottom: 20px;
}

.divider {
    display: flex;
    width: 90vw;

    margin-left: auto;
    margin-right: auto;
}

.left-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 3%;

    border-right: 1px solid lightgray;
}

.file-upload {
    height: max-content;
    padding-top: 2.5%;
    padding-bottom: 2.5%;

    border-bottom: solid lightgray 1px;
}

.about {
    height: auto;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.right-container{
    width: 50%;
    height: 80vh;

    padding-left: 2%;

    text-align: center;
    align-content: center;
}


/* Mobile/Tab View */
@media only screen and (max-width: 600px) {
    .divider {
        display: flex;
        flex-direction: column;
    }

    .left-container {
        width: 100%;
        border-right: none;
    }

    .file-upload {
        border-bottom: 1px solid lightgray;
    }

    .about {
        border-bottom: 1px solid lightgray;
    }

    .right-container {
        width: 100%;
        padding-top: 2.5%;
    }
}
