.left-container{
    width: 35vw;
    display: flex;
    flex-direction: column;
    height: 81vh;
    margin-left: 2vw;
}

.right-container{
    display: flex;
    flex-direction: column;
    width: 61vw;
    height: 80vh;
    margin-left: 1vw;
}

.row {
    width: 100vw;
    padding-bottom: 20px;
}
