.search {
    width: fit-content;
    height: fit-content;
}

.form-control {
    width: 30vw;
    font-size: small;
    border-radius: 25px;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}
