/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.xml-container {
    display: flex;
    flex-direction: column;

    margin-top: 2%;
    height: 40%;
}

.xml-text {
    margin-top: 2%;
    height: 90%;

    font-family: 'Courier New', Courier, monospace;
    font-size: small;

    overflow-y: scroll;
}

.btn {
    border-radius: 25px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;

    width: fit-content;
}

.btn:focus{
    outline: none;
    box-shadow: none;
}
