
/* Set anchor relative to top */
a.anchor{display: block; position: relative; top: -60px; visibility: hidden;}

.table-nonfluid {
   /* width: auto; */
    width: 70%;
}

.blue {
    color: darkblue;
}

.red {
    color: darkred;
}

.green {
    color: darkgreen;
}
