.list-group{
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.list-container{
    width: 32vw;
    padding: 10px;
    margin-top: -10px;
    border: 2px solid black;
    border-radius: 0 10px 10px 10px;
}

.container{
    margin-right: 1vw;
}

.header-pill{
    height: fit-content;
    width: fit-content;
    padding: 5px;
    background-color: lightgreen;
    color: green;

    border: 2px solid green;
    border-radius: 5px 5px 0 0;
}
