/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.list-group{
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.list-container{
    flex-grow: 1;
    padding-top: 5px;
    padding-bottom: 5px;

    margin-left: auto;
    margin-right: auto;
}

.container{
    width: 33vw;
    margin-right: 20px;
    height: 100%;

    border: 2px solid gray;
    border-radius: 10px;

    flex: 1;
    overflow-y: auto;
}

.header-pill{
    height: fit-content;
    width: fit-content;
    padding: 5px;
    background-color: lightgreen;
    color: green;

    border: 2px solid green;
    border-radius: 5px 5px 0 0;
}
