
.basics-container{
    padding: 1% 0%;
    max-height: 100%;
    height: fit-content;

    //border-bottom: 1px solid lightgray;
    margin-bottom: 2px;
}

.sbase-container{
    padding: 1% 0%;
    height: auto;

    overflow-y: scroll;
}

