#report {
  width: 95%;
}

.column-left {
  float: left;
  width: 75%;
  padding-left: 20px;
  padding-right: 20px;
}

.column-right {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;

  font-size: large;
  justify-content: left;
  text-align: left;
  height: 100vh;

  border: 2px solid gray;
  border-radius: 10px;
}
