<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="SBML report">
    <meta name="author" content="Matthias Koenig">
    <!-- <meta http-equiv="refresh" content="5" /> -->

    <link rel="icon" href="_report/images/sbml.ico">
    <title>No model</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/bs/jq-2.2.0,dt-1.10.11/datatables.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="_report/css/dashboard.css"/>
    <link rel="stylesheet" type="text/css" href="_report/css/report.css"/>

    <!-- JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/t/bs/jq-2.2.0,dt-1.10.11/datatables.min.js"></script>
    <script type="text/javascript" async
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>

    <!--
    <link rel="stylesheet" href="_report/css/bootstrap.min.css">
    <link rel="stylesheet" href="_report/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="_report/css/datatables.min.css">
    <script type="text/javascript" src="_report/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="_report/js/datatables.min.js"></script>
    <script type="text/javascript" src="_report/js/MathJax.js"></script>
    -->
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <form class="navbar-form navbar-left">
            <input id="searchField" type="text" class="form-control" placeholder="Search...">
        </form>
    </div>
</nav>

<!-- CONTAINER -->
<div class="container-fluid">
    <!-- ROW -->
    <div class="row">
        <!-- LEFT -->
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar"></ul>
        </div>
        <!-- END LEFT -->

        <!-- RIGHT -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <!-- CONTENT -->
            <div>
                <h1>No model in SBML.</h1>
                <a href="{{ basename }}" target="_blank"><img src="_report/images/sbml.png" height="20" alt="SBML model" title="SBML model"/> </a><br /><br />

            </div>
            <!-- END CONTENT -->

            <!-- FOOTER -->
            <div class="footer">
                <hr/>
                <p>&copy; 2017 Matthias Koenig.
                    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img
                            alt="Creative Commons License"
                            style="border-width:0"
                            src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png"/></a><br/>This
                    work by <a xmlns:cc="http://creativecommons.org/ns#" href="https://www.livermetabolism.com"
                               property="cc:attributionName" rel="cc:attributionURL">Matthias Koenig</a> is licensed
                    under a <a
                            rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons
                        Attribution-ShareAlike 4.0 International License</a>.
                    <br/>
                    Powered by jinja2 <a href="http://jinja.pocoo.org/docs/dev/" target="_blank"><img
                            src="_report/images/jinja2.png" height="15" alt="jinja2"/></a> and
                    bootstrap <a href="http://getbootstrap.com/" target="_blank"><img
                            src="_report/images/bootstrap.png" height="15" alt="bootstrap"/></a>.
                    Source available on <a href="https://github.com/matthiaskoenig/sbmlutils/"
                                           target="_blank"><img
                            src="_report/images/github.png" height="20" alt="GitHub"/></a>.
                </p>
            </div>
            <!-- END FOOTER -->

        </div>
        <!-- END RIGHT -->
    </div>
    <!-- END ROW -->
</div>
<!-- END CONTAINER -->

</body>
</html>

